*{
    padding: 0;
    box-sizing: border-bx;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    aling-items: center;
    padding: 20px 80px;
    background: #C8A2C8;
    border-radius: 8px;
}

.linknav {
    text-decoration: none;
    color: #f8f8f8;
    font-size: 1.125rem;
    padding: 0 20px;
}

.welcome{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    aling items: center;
    gap: 40px;
    padding: 40px 0;
}

.left{
    width: 500px;
}

.left h1 {
    margin-top: 50px;
    font-size: 3.5rem;
}

.left p {
    font-size: 1.4rem;
    padding: 30px 0;
}

.left a {
    text-decoration: none;
    color: #f8f8f8;
    background: #C8A2C8;
    padding: 10px 110px;
    font-size: 1.125rem;
    border-radius: 12px;
    cursor: pointer;
    trasition: transform 0.3s ease-in-out;
}

.left a:hover {
    background: #808080;
    transform: scale(1.2);
}

.right {
    width: auto;
}

.right img {
    width: 550px;
    heght: 800px;
    border-radius: 8px;
}

.line{
    width: 1200px;
    height: 1px;
    background: #1c1c1c;
    margin: 0 auto;
    margin-bottom: 100px;
}


